<div id="game-page">
  <div class="container">
    <h1 id="main-title" class="text-center">Select your game mode!</h1>
    <div class="row mt-5">
      <div class="col-lg-6 text-center">
        <a href="crossword/difficulty" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">Single Player</a>
      </div>
      <div class="col-lg-6 text-center">
          <a href="crossword/multiplayer" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">Multiplayer</a>
      </div>
    </div>
</div>
