<div id="track-view-page" class="container-fluid">
    <div class="container">
        <div class="row title-box">
            <h1 id="main-title">{{title}}</h1>
            <h2>Select a track to play it.</h2>
        </div>
        <div class="container">
            <ul class="track-list">
                <div *ngFor="let track of tracks">
                    <li class="track row">
                        <div class="general-info">
                            <h3>{{track.Name}}</h3>
                            <p>{{track.Description}}
                                <br> Type: {{track.type}}
                                <br> Times played: {{track.NPlayed}}</p>
                        </div>
                        <div class="time-info">
                            <h4>Best Times</h4>
                            <ul class="track-times">
                                <li *ngFor="let time of track.bestTimes">
                                    {{time}}
                                </li>
                            </ul>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>