#track-view-page {
    background: url("../../crossword/images/background.jpg") no-repeat fixed;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    padding: 0%;
}

.row {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.title-box {
    border: medium solid orange;
    border-radius: 1em;
    background: url("../../crossword/images/background-blur.jpg") no-repeat fixed;
    color: #fff;
    text-align: center;
    padding: 1%;
}

.track-list {
    list-style-type: none;
    border: medium solid orange;
    border-radius: 1em;
    margin: 5% 0%;
    padding: 0% 5%;
    overflow: auto;
    background: url("../../crossword/images/background-blur.jpg") no-repeat fixed;
}

.track {
    margin: 2.5% 10% 2.5% 10%;
    float: center;
    text-align: center;
    width: auto;
    min-width: 50%;
    padding: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: medium solid #666;
    border-radius:  1em;
    color: black;
    background: white;
}

.track-times {
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    border: medium solid #666;
    border-radius:  1em;
    list-style-type: none;
}

.general-info {
    min-width: 50%;
    display: inline-block;
    margin: 1%;
    text-align: center;
    vertical-align: top;
}

#track-name {
    text-decoration: underline;
}

#best-time {
    margin-bottom: 1px;
}

#position {
    font-weight: bold;
    color: rgb(255, 145, 0);
}
.time-info {
    min-width: 40%;
    display: inline-block;
    margin: 1%;
}

.play-btn {
    border-radius: 0.85em;
}
