#ignoring .vscode folder but we keep some files for debuging
/.vscode/chrome
/.vs/
/client/node_modules
/client/src/app/.vs
/client/src/app/.vscode
/server/node_modules
/server/out

package-lock.json
