<div #container>
  <span id="speed" class="text">{{this.renderService.car.speed.length() * 3.6 | number :'2.2-2'}}</span>
  <span id="speed-unit" class="text">km/h</span>
  <span id="gear" class="text">{{this.renderService.car.currentGear + 1}}</span>
  <img id="speed-background" src="../../assets/HUD_Speed.png">
  <span id="lap-background">
    <span id="lap" class="text">Lap: {{this.lap}} / 3</span>
  </span>
  <span id="time-background">
    <span id="time" class="text">Total time: {{this.totalTime.getMinutes() | number: '2.0'}}:{{this.totalTime.getSeconds() | number: '2.0'}}:{{this.totalTime.getMilliseconds().toString() | slice:0:2}}</span>
  </span>
  <span id="lap-time-background"> 
    <span id="lap-time" class="text"> Lap time: {{this.lapTime.getMinutes() | number: '2.0'}}:{{this.lapTime.getSeconds() | number: '2.0'}}:{{this.lapTime.getMilliseconds().toString() | slice:0:2}}</span>
  </span>
  <span id="best-time-background">
    <span id="best-time" class="text"> Best time: {{this.bestTime.getMinutes() | number: '2.0'}}:{{this.bestTime.getSeconds() | number: '2.0'}}:{{this.bestTime.getMilliseconds().toString() | slice:0:2}} </span>
  </span>

  <div id="rpm-background">
    <div id="rpm-bar"  [style.width.%]="this.rpmRatio()"></div>
    <span id="rpm-text" class="justify-content-center d-flex position-absolute w-100">{{this.car.rpm | number:'2.0-0'}} RPM</span>
  </div>

  <span id="starting-text" class="text">{{this.startingText}}</span>>
</div>
