<div id="game-page">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 id="main-title" class="text-center">Create a game</h2>
          <h4 class="mt-5">Choose a difficulty</h4>
          <div class="text-center">
            <button type="button" id="easy-button" class="btn btn-lg btn-outline-success background btn-block">Easy</button>
            <button type="button" id="normal-button" class="btn btn-lg btn-outline-warning background btn-block">Normal</button>
            <button type="button" id="hard-button" class="btn btn-lg btn-outline-danger background btn-block">Hard</button>
          </div>
          <h4 class="mt-5">Enter a username</h4>
          <form class="form-inline">
            <div class="form-group mr-sm-3 mb-2">
              <input class="form-control" placeholder="username">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Create game</button>
          </form>
        </div>
        <div class="col-6 text-center">
          <h2 id="main-title" class="text-center">Join a game</h2>
          <div class="card">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
