<div id="game-page">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 id="main-title" class="text-center">Create a game</h2>
          <h4 class="mt-5">Choose a difficulty</h4>
          <div class="text-center">
            <button type="button" id="easy-button" class="btn btn-lg btn-outline-success background btn-block left-side">Easy</button>
            <button type="button" id="normal-button" class="btn btn-lg btn-outline-warning background btn-block left-side">Normal</button>
            <button type="button" id="hard-button" class="btn btn-lg btn-outline-danger background btn-block left-side">Hard</button>
          </div>
          <h4 class="mt-5">Enter a username</h4>
          <input class="form-control left-side" placeholder="username" [(ngModel)]="username">
          <div class="text-center mt-2">
            <button type="button" class="btn btn-lg btn-primary btn-block left-side" on-click="createNewGame()">Easy</button>
          </div>
        </div>
        <div class="col-6 text-center">
          <h2 id="main-title" class="text-center">Join a game</h2>
          <div class="card">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <button type="button" class="btn btn-primary" on-click="test()">Go somewhere</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
