.left-side {
    width:50%;
}

.background {
    background-color: white;
}

#easy-button:hover{
    background-color: green;
}

#normal-button:hover{
    background-color: yellow;
}

#hard-button:hover{
    background-color: red;
}
