<div id="canvas-container">
  <canvas id="edit"></canvas>
</div>
<nav class="navbar navbar-light bg-light" id="top-bar">
    <span class="navbar-brand mb-0 h1 col-sm-2">Edit a track!</span>
  <form class="navbar-form">
    <div class="form-row">
      <div class="col-4">
        <input class="form-control mr-sm-2 info" type="name" placeholder="Track Name" aria-label="Name">
      </div>
      <div class="col-6">
        <input class="form-control mr-sm-2 info" type="name" placeholder="Description" aria-label="Name">
      </div>
      <div class="col-2">
          <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</nav>
