<div class="cell-for-click" *ngFor="let cell of gridService.gridCells; index as i" [ngClass]="gridLineJump(i)">
  <div [ngClass]="[getCellType(cell.cellColor), addHighlightOnFocus(cell), selectionHandler.addOrientationBorders(cell),
                  selectionHandler.addFirstCellBorder(cell), selectionHandler.addLastCellBorder(cell)]">
    <div [ngClass]="addStyleOnFoundWord(cell)" *ngIf="cell.cellColor == 'White'" (click)="focusOnCell(cell)">
      <div *ngIf="cell.index != null" class="cell-index">
        {{cell.index}}
      </div>
      <p class="cell-main-content">{{cell.content}}</p>
    </div>
  </div>
</div>
