.square {
    z-index: 0;
    height: 3.8vw;
    width: 3.8vw;
    border: 1px solid white;
    float: left;
    text-transform: uppercase;
    display: block;
    min-height: 3vh;
    min-width: 3vh;
}

.white-square {
    background-color: white;
    height: 100%;
    border: thin solid rgba(173, 216, 230, 0);
}

.white-square > div {
    height: 100%;
    border: thin solid rgb(107, 107, 107)
}

.white-square:hover {
    background-color: rgb(234, 234, 245);
}

.clear {
    clear: both;
}

.cell-main-content {
    font-size: 2.5vw;
    text-align: center;
}

.black-square {
    background-color: black;
    height: 100%;
    border: 1px solid grey;
}

.cell-index {
    float: left;
    top:0;
    margin:0;
    padding: 0;
    font-size: 1vw;
}

.focus {
    background-color: lightblue;
}

/* Borders for player one */

.left-border-p1 {
    border-left: 3px dashed rgb(3, 109, 167);
}

.right-border-p1 {
    border-right: 3px dashed rgb(3, 109, 167);
}

.top-border-p1 {
    border-top: 3px dashed rgb(3, 109, 167);
}

.bottom-border-p1 {
    border-bottom: 3px dashed rgb(3, 109, 167);
}

/* Borders for player two */

.left-border-p2 {
    border-left: 3px dashed rgb(241, 118, 48);
}

.right-border-p2 {
    border-right: 3px dashed rgb(241, 118, 48);
}

.top-border-p2 {
    border-top: 3px dashed rgb(241, 118, 48);
}

.bottom-border-p2 {
    border-bottom: 3px dashed rgb(241, 118, 48);
}

/* Borders for both players */

.border-both {
    width: 3.8vw;
    height: 3.8vw;
    position: relative;
    margin: 0 auto;
}

.left-border-both {
    border-left: 3px solid rgb(241, 118, 48);
}

.left-border-both:before {
    background: none;
    border-left: 3px dashed rgb(3, 109, 167);
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    pointer-events: none;
}

.right-border-both {
    border-right: 3px solid rgb(241, 118, 48);
}

.right-border-both:before {
    background: none;
    border-right: 3px dashed rgb(3, 109, 167);
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    pointer-events: none;
}

.top-border-both {
    border-top: 3px solid rgb(241, 118, 48);
}

.top-border-both:before {
    background: none;
    border-top: 3px dashed rgb(3, 109, 167);
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    pointer-events: none;
}

.bottom-border-both {
    border-bottom: 3px solid rgb(241, 118, 48);
}

.bottom-border-both:before {
    background: none;
    border-bottom: 3px dashed rgb(3, 109, 167);
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    pointer-events: none;
}

/* Background cell color when found */

.is-found-cell-p1 {
    background-color: rgb(7, 150, 229);
}

.is-found-cell-p2 {
    background-color: rgb(241, 118, 48);
}

.is-found-cell-both {
    background-image: repeating-linear-gradient(-45deg,
        #0796e5 20px,
        #F17630 40px);
}
