.square {
    z-index: 0;
    height: 3.8vw;
    width: 3.8vw;
    border: 1px solid black;
    float: left;
    text-transform: uppercase;
    display: block;
    min-height: 3vh;
    min-width: 3vh;
}

.white-square {
    background-color: white;
    height: 100%;
    border: thin solid rgba(173, 216, 230, 0);
}

.white-square > div {
    height: 100%;
    border: thin solid rgba(255, 255, 255, 0)
}

.white-square:hover {
    background-color: rgb(234, 234, 245);
}

.clear {
    clear: both;
}

.cell-main-content {
    font-size: 2.5vw;
    text-align: center;
}

.black-square {
    background-color: black;
    height: 100%;
    border: 1px solid grey;
}

.cell-index {
    float: left;
    top:0;
    margin:0;
    padding: 0;
    font-size: 1vw;
}

.focus {
    background-color: lightblue;
}

.horizontal-border {
    border-top: 3px dashed #0796E5;
    border-bottom: 3px dashed #0796E5;
    /* background-color: violet; */
}

.vertical-border {
    border-left: 3px dashed #0796E5;
    border-right: 3px dashed #0796E5;
    /* background-color: violet; */
}

.first-case-border-horizontal {
    border-left: 3px dashed #0796E5;
    /* background-color: violet; */
}

.last-case-border-horizontal {
    border-right: 3px dashed #0796E5;
    /* background-color: violet; */
}

.first-case-border-vertical {
    border-top: 3px dashed #0796E5;
    /* background-color: violet; */
}

.last-case-border-vertical {
    border-bottom: 3px dashed #0796E5;
    /* background-color: violet; */
}
