<div id="game-page">
  <div class="container">
    <div class="row">
      <h1 id="main-title">{{title}}</h1>
    </div>
    <div (click)="onButtonGroupClick($event)">
      <div class="row">
        <button (click)="activateDifficulty($event.currentTarget.value)" value="Easy" id="easy-button" type="button" class="btn btn-outline-success btn-lg button-layout">Easy</button>
      </div>
      <div class="row">
        <button (click)="activateDifficulty($event.currentTarget.value)" value="Normal" id="normal-button" type="button"
          class="btn btn-outline-warning btn-lg button-layout">Normal</button>
      </div>
      <div class="row">
        <button (click)="activateDifficulty($event.currentTarget.value)" value="Hard" id="hard-button" type="button" class="btn btn-outline-danger btn-lg button-layout">Hard</button>
      </div>
    </div>
    <div class="row">
      <a *ngIf="isActiveDifficulty; else deactivateLink" routerLink="/crossword/play" id="play-button" type="submit" class="btn btn-outline-info play-layout">Play</a>
      <ng-template #deactivateLink>
        <button type="button" class="btn btn-outline-secondary deactivated-layout" disabled>Play</button>
      </ng-template>
    </div>
  </div>
</div>
