<div id="game-page">
  <div class="container">
    <div class="row">
      <h1 id="main-title">{{title}}</h1>
    </div>
    <div class="row">
      <button (click)="activeDifficulty($event.currentTarget.value)" value="Difficulty.Easy" id="easy-button" type="button" class="btn btn-outline-success btn-lg button-layout">Easy</button>
    </div>
    <div class="row">
      <button (click)="activeDifficulty($event.currentTarget.value)" value="Difficulty.Normal" id="normal-button" type="button" class="btn btn-outline-warning btn-lg button-layout">Normal</button>
    </div>
    <div class="row">
      <button (click)="activeDifficulty($event.currentTarget.value)" value="Difficulty.Hard"id="hard-button" type="button" class="btn btn-outline-danger btn-lg button-layout">Hard</button>
    </div>
    <div class="row">
      <button id="play-button" type="button" class="btn btn-outline-info play-layout">Play</button>
    </div>
  </div>
</div>
