<div id="game-page">
  <div class="container">
    <div class="row">
      <h1 id="main-title">{{title}}</h1>
    </div>
    <div (click)="onButtonGroupClick($event)">
      <div class="row">
        <button (click)="activateDifficulty($event.currentTarget.value)" value="Easy" id="easy-button" type="button" class="btn btn-outline-success btn-lg button-layout">Easy</button>
      </div>
      <div class="row">
        <button (click)="activateDifficulty($event.currentTarget.value)" value="Medium" id="medium-button" type="button"
          class="btn btn-outline-warning btn-lg button-layout">Medium</button>
      </div>
      <div class="row">
        <button (click)="activateDifficulty($event.currentTarget)" value="Hard" id="hard-button" type="button" class="btn btn-outline-danger btn-lg button-layout">Hard</button>
      </div>
    </div>
    <div class="row">
      <button *ngIf="isActiveDifficulty; else deactivateLink" (click)="createGame()" id="play-button" type="submit" class="btn btn-outline-info play-layout">Play</button>
      <ng-template #deactivateLink>
        <button type="button" class="btn btn-outline-secondary deactivated-layout" disabled>Play</button>
      </ng-template>
    </div>
  </div>
</div>
