

.word-definition {
  font-family: 'Times New Roman', Times, serif;
  font-size: 125%;
  height: 28vh;
}

.title-layout-name {
  border: 2px solid grey;
  width: 50%;
  margin-top: 10px;
  padding: 0px 5px;
  text-align: center;
  color: white;
}
