<div class="row" id="top-bar">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-2">
    <div id="first-player" class="player">
      <h2>{{this.gameManager.playerOne.name}}</h2>
      <h4>{{this.gameManager.playerOne.point}}</h4>
    </div>
  </div>
  <div class="col-sm-1">
  </div>
  <div class="col-sm-2">
    <h2>{{"Mode: "+modeToString()}}</h2>
    <h4>{{"Difficulty: " + this.gameManager.getDifficulty()}}</h4>
  </div>
  <div class="col-sm-1">
  </div>
  <div *ngIf="this.gameManager.isMultiplayer()" class="col-sm-2">
    <div id="second-player" class="player">
      <h2>{{this.gameManager.playerTwo.name}}</h2>
      <h4>{{this.gameManager.playerTwo.point}}</h4>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>
